.blog-header {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 2rem;
    padding: 0 1.5rem;
}

.blog-header img {
    width: 100%;
    max-width: 830px;
    height: auto;
    border-radius: 0;
    margin-bottom: 1.5rem;
    padding-top: 20px;
}

.blog-header h1 {
    text-align: center;
    margin-bottom: 0.5rem;
    color: #112f47;
}

.blog-header h3 {
    text-align: center;
    color: #112f47;
    font-weight: 400;
}

.blog-header {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 2rem;
    padding: 0 1.5rem;
}

.blog2-chart img {
    width: 100%;
    max-width: 830px;
    height: auto;
    border-radius: 0;
    margin-bottom: 1.5rem;
    margin-top: 1.5rem;
    margin-left: 3rem;
}

.divider {
  border: none;
  border-top: 1px solid lightgrey;
  margin: 40px 0;
}

main h2 {
    margin-left: 3rem;
    margin-top: 2.5rem;
    margin-bottom: 1rem;
    margin-right: 3rem;
}

main p {
    margin-left: 3rem;
    margin-bottom: 1.5rem;
    line-height: 1.8;
    margin-right: 3rem;
}

main ul {
    margin-bottom: 1.5rem;
    margin-left: 2rem;
    margin-right: 2rem;
}

main ul li {
    margin-bottom: 0.75rem;
    line-height: 1.6;
    margin-left: 3rem;
}

main ol {
    margin-bottom: 1.5rem;
    margin-left: 2rem;
}

main ol li {
    margin-bottom: 0.75rem;
    line-height: 1.6;
    margin-left: 3rem;
}