form {
    background: lightblue;
    display: flex;
    flex-direction: column;
    padding: 3rem;
    width: 100%;
    max-width: 600px;
    border-radius: 10px;
    margin: 20px auto;
}

form h3 {
    color: #112f47;
    font-weight: 800;
    margin-bottom: 20px;
}

form input, form textarea {
    border: 0;
    margin: 10px 0;
    padding: 20px;
    outline: none;
    background: #112f47;
    font-size: 16px;
    color: white;
    border-radius: 5px;
    width: 100%;
    box-sizing: border-box;
}

form input::placeholder, form textarea::placeholder {
    color: rgba(255, 255, 255, 0.7);
}

form button {
    padding: 15px;
    background: #112f47;
    color: white;
    font-size: 18px;
    border: 0;
    outline: none;
    cursor: pointer;
    width: 150px;
    margin: 20px auto 0;
    border-radius: 30px;
}

form button:hover {
    background: #1a4563;
}