@import url(fonts/fonts.css);
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Aptos", sans-serif;
}

main {
    padding: 155px calc((100dvw - 1300px)/ 2);

    & > h1 {
        font-family: "Aptos Display", sans-serif;
        font-size: 28px;
        font-weight: 400;
        letter-spacing: -0.015em;
        color: #112f47;
    }

    & > h2 {
        font-family: "Aptos", sans-serif;
        font-size: 25px;
        font-weight: 400;
        letter-spacing: 0;
        color: #112f47;
    }

    & > h3 {
        font-family: "Aptos", sans-serif;
        font-size: 20px;
        font-weight: 400;
        letter-spacing: 0;
        color: #112f47;
    }
}

.container {
    width: 100%;
    min-height: 100vh;
    background: white;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 40px 20px;
}

form {
    background: lightblue;
    display: flex;
    flex-direction: column;
    padding: 2vw 4vw;
    width: 90%;
    max-width: 600px;
    border-radius: 10px;
}

form h3 {
    color: white;
    font-weight: 800;
    margin-bottom: 20px;
}

form input, form textarea {
    border: 0;
    margin: 10px 0;
    padding: 20px;
    outline: none;
    background: #112f47;
    font-size: 16px;
    color: white;
    border-radius: 5px;
}

form input::placeholder, form textarea::placeholder {
    color: rgba(255, 255, 255, 0.7);
}

form button {
    padding: 15px;
    background: #112f47;
    color: white;
    font-size: 18px;
    border: 0;
    outline: none;
    cursor: pointer;
    width: 150px;
    margin: 20px auto 0;
    border-radius: 30px;
}

form button:hover {
    background: #1a4563;
}