@import url(fonts/fonts.css);
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Aptos";
}

main {
    padding: 155px calc((100dvw - 1300px)/ 2);

    & > h1 {
        font-family: "Aptos Display", sans-serif;
        font-size: 28px;
        font-weight: 400;
        letter-spacing: -0.015em;
        color: #112f47;
    }

    & > h2 {
        font-family: "Aptos", sans-serif;
        font-size: 25px;
        font-weight: 400;
        letter-spacing: 0;
        color: #112f47;
    }

    & > h3 {
        font-family: "Aptos", sans-serif;
        font-size: 20px;
        font-weight: 400;
        letter-spacing: 0;
        color: #112f47;
    }
}