header {
    & > nav {
        position: fixed;
        width: 100%;
        height: var(--nav-height);
        box-shadow: 0px 0px 25px -15px rgba(0, 0, 0, 0.75);
        display: flat;
        align-items: center;
        background: #112f47;
        z-index: 99;

        & > img {
            height: 50px;
            width: auto;
        }

        & > h1 {
            justify-self: center;
            font-family: Century Gothic;
            font-size: 50px;
            font-weight: 600;
            letter-spacing: 1.5px;
            color: white;
        }
    }
}