@font-face {
    font-family: "Aptos";
    src: url("Aptos.woff2") format("woff2"),
         url("Aptos.woff") format("woff");
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: "Aptos";
    src: url("Aptos-Bold.woff2") format("woff2"),
         url("Aptos-Bold.woff") format("woff");
    font-weight: 600;
    font-style: normal;
}

@font-face {
    font-family: "Aptos Display";
    src: url("Aptos-Display.woff2") format("woff2"),
         url("Aptos-Display.woff") format("woff");
    font-weight: 600;
    font-style: normal;
}