@font-face {
  font-family: "Aptos";
  src: url("Aptos-Black-Italic.ttf") format("truetype");
  font-weight: 900;
  font-style: italic;
}

@font-face {
  font-family: "Aptos";
  src: url("Aptos-Black.ttf") format("truetype");
  font-weight: 900;
  font-style: normal;
}

@font-face {
  font-family: "Aptos";
  src: url("Aptos-Bold-Italic.ttf") format("truetype");
  font-weight: 700;
  font-style: italic;
}

@font-face {
  font-family: "Aptos";
  src: url("Aptos-Bold.ttf") format("truetype");
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: "Aptos";
  src: url("Aptos-ExtraBold-Italic.ttf") format("truetype");
  font-weight: 800;
  font-style: italic;
}

@font-face {
  font-family: "Aptos";
  src: url("Aptos-ExtraBold.ttf") format("truetype");
  font-weight: 800;
  font-style: normal;
}

@font-face {
  font-family: "Aptos";
  src: url("Aptos-Italic.ttf") format("truetype");
  font-weight: 400;
  font-style: italic;
}

@font-face {
  font-family: "Aptos";
  src: url("Aptos-Light-Italic.ttf") format("truetype");
  font-weight: 300;
  font-style: italic;
}

@font-face {
  font-family: "Aptos";
  src: url("Aptos-Light.ttf") format("truetype");
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: "Aptos";
  src: url("Aptos-SemiBold-Italic.ttf") format("truetype");
  font-weight: 600;
  font-style: italic;
}

@font-face {
  font-family: "Aptos";
  src: url("Aptos-SemiBold.ttf") format("truetype");
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: "Aptos";
  src: url("Aptos.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
}

/* Regular */
@font-face {
  font-family: "Aptos Display";
  src: url("Aptos-Display.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "Aptos Display";
  src: url("Aptos-Display-Italic.ttf") format("truetype");
  font-weight: 700;
  font-style: italic;
}

@font-face {
  font-family: "Aptos Display";
  src: url("Aptos-Display-Bold.ttf") format("truetype");
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: "Aptos Display";
  src: url("Aptos-Display-Bold-Italic.ttf") format("truetype");
  font-weight: 400;
  font-style: italic;
}